@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

body {
margin: 0;
font-family: 'Open Sans';
}
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  background-color: #f1f1f1;
}

.grid-item-icon {
    color:#4f06fa;
    position: absolute;
    top: 0;
    right: 36px;
    padding: 10px;
    font-size: 40px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .grid-container {
      width: 100%;
      display: block;
    }
    .grid-container h3 {font-size: medium;}
    .grid-item li {font-size: 10px;}
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 900px) {
    .grid-container {
      display: block;
    }
}